<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <%- include('../partials/header'); %>

        <br>

        <h1 class="title">
            <%= book.title %>
        </h1>
        <br>
        <br>
        <p>Auteur : <%= book.author %>
        </p>
        <br>
        <p>Description : <%= book.description %>
        </p>
        <br>
        <p>Date de publication : <%= book.year_publication %>
        </p>
        <br>
        <br>

</body>

<%- include('../partials/footer'); %>

</html>