<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <br>
        <main>
            <h1 class="title">Connexion</h1>

            <% if (locals.error) { %>
                <div class="error-message">
                    <%= error %>
                </div>
                <% } %>

                    <% if (locals.query && locals.query.registered) { %>
                        <div class="success-message">
                            Inscription réussie ! Vous pouvez maintenant vous connecter.
                        </div>
                        <% } %>

                            <form class="logForm" action="/login" method="POST">
                                <div>
                                    <label for="email">Email :</label>
                                    <input type="email" id="email" name="email" value="<%= locals.email || '' %>"
                                        required>
                                </div>
                                <div>
                                    <label for="password">Mot de passe :</label>
                                    <input type="password" id="password" name="password" required>
                                </div>
                                <button type="submit">Se connecter</button>
                            </form>

                            <div>
                                Pas encore de compte ? <a href="/register">S'inscrire</a>
                            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>